@{
    Layout = "_Layout";
    ViewData["Title"] = "Trang chủ";
    var BaseUrl = ViewBag.BaseUrl;
}

<div class="top-bar special-flex">
    <div class="breadcrumb slide-in-left">
        <a href="#">Trang chủ</a> &gt;
        <a href="#">Doanh nghiệp</a>
    </div>
    <div class="filter slide-in-left">
        <input id="search-input" placeholder="Tìm kiếm cơ sở sản xuất..." type="text" />
        <button id="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
</div>
<div class="data-grid"></div>
<div id="pagination-container"></div>
<div id="loading-spinner" class="loading-spinner" style="display:none;">
    <div class="spinner"></div>
</div>
<script src="./js/doanhnghiep.js"></script>
<script type="text/javascript">
    var BaseUrl = '@ViewBag.BaseUrl';
    localStorage.setItem('BaseUrl', BaseUrl);
</script>
