@{
    Layout = "_Layout";
    ViewData["Title"] = "Chi tiết tin tức";
    var BaseUrl = ViewBag.BaseUrl;
}

<div class="top-bar">
    <div class="breadcrumb slide-in-left">
        <a href="index.html">Trang chủ</a> &gt;
        <a href="index.html">Tin tức - Sự kiện</a> &gt;
        <a href="#">Bản tin</a>
    </div>
</div>
<div class="news-detail"></div>
<div id="loading-spinner" class="loading-spinner" style="display:none;">
    <div class="spinner"></div>
</div>

<script src="~/js/chi-tiet-tin-tuc.js"></script>
